# =========================
# Java / Maven
# =========================

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# =========================
# IntelliJ IDEA
# =========================

.idea/
*.iws
*.iml
*.ipr

# =========================
# Eclipse / STS
# =========================

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# =========================
# NetBeans
# =========================

/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Node / React / Vite
# =========================

node_modules/
dist/
dist-ssr/
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Build
# =========================

/build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Logs
# =========================

*.log
logs/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# Environment
# =========================

.env
frontend/.env

# =========================
# Allure
# =========================

.allure/
allure-results/
allure-report/

# =========================
# LocalStack
# =========================

docker/localstack-data

# =========================
# Test properties
# =========================

src/test/resources/test.properties